<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blah page</title>
</head>

<body>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
		</tr>
		<tr th:each = "book : ${books}">
			<td th:text="${book.getTitle()}"></td>
			<td th:text="${book.getAuthor()}"></td>
			<td th:text="${book.getYear()}"></td>
			<td th:text="${book.getIsbn()}"></td>
			<td th:text="${book.getPrice()}"></td>
			<td><a th:href="@{/delete/{id}(id=${book.getId()})}">Delete</a></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-primary">Add book</a>
</body>

</html>