<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blah page</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
</head>

<body>
	<h4 style="text-align: center;">Welcome, [[${#httpServletRequest.remoteUser}]]!</h4>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Category</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each = "book : ${books}">
			<td th:text="${book.getTitle()}"></td>
			<td th:text="${book.getAuthor()}"></td>
			<td th:text="${book.getYear()}"></td>
			<td th:text="${book.getIsbn()}"></td>
			<td th:text="${book.getPrice()}"></td>
			<td th:text="${book.getCategoryName()}"></td>
			<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.getId()})}">Delete</a></td>
			<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success" th:href="@{/edit/{id}(id=${book.getId()})}">Edit</a></td>
			<td sec:authorize="hasRole('USER')"></td>
			<td sec:authorize="hasRole('USER')"></td>
			<td></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-primary" style="margin-left: 10px;">Add book</a>
	<form th:action="@{logout}" method="post">
		<button type="submit" name="logout" style="float: right;margin-right: 10px;" class="btn btn-danger">Logout</button>
	</form>
</body>

</html>